*.mat
*.jpg
*.asv
*.xlsx
*.pdf

DNA-Damage/Useful_Dani
SalivaryGland/docs/*
SalivaryGland/test/*
SalivaryGland/results/*
voronoiGraphlets/results/*
voronoiGraphlets/test/*
voronoiGraphlets/data/*
voronoiGraphlets/src/lib/export_fig-master/*
*.fig
*.tif
*.nd2
*.txt
*.ndump2
*.gw
*.png