*.mat
*.jpg
*.asv
*.xlsx
*.pdf

DNA-Damage/Useful_Dani
SalivaryGland/docs/*
SalivaryGland/test/*
SalivaryGland/results/*
voronoiNetworks/results/*
voronoiNetworks/test/*
voronoiNetworks/data/*
voronoiNetworks/src/lib/export_fig-master/*
*.fig
*.tif
*.nd2
*.txt